// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "semi": 0,
    "no-plusplus": 0,
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    /* "no-unused-vars": ["error", {"args": "none"}], */
    "no-unused-vars": ["warn", {"args": "none"}],
    "react/forbid-prop-types": 0,
    "no-console": 0,
    "require-yield": 1,
    "max-len": 0,
    "no-await-in-loop": 1,
    "no-debugger": 1,
    "import/extensions": 0,
    "no-shadow": 1,
    "import/prefer-default-export": 0,
    "react/no-unused-prop-types": 0,
    "jsx-a11y/href-no-hash": "off",
    "global-require": 0,
    "react/no-string-refs": 0,
    "react/prefer-stateless-function": 0, /* this conflicts with our desire to have prop types on pure components */
    "no-lonely-if": 0,
    "react/no-array-index-key": 0,
    "prefer-destructuring": 0
  },
  "globals": {
    "__DEV__": true,
    "__PROD__": true,
    "fetch": true
  },
  "settings": {
    "import/resolver": {
      "reactnative": {},
      "babel-module": {
        "root": ["./app"],
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    }
  }
}
